.catalog-sections {
  width: 100%;
  max-width: 1190px;
  padding: 0 15px;
  box-sizing: border-box; }
  @media (max-width: 1023px) {
    .catalog-sections {
      padding: 0 8px; } }
  .catalog-sections__main {
    margin-top: 20px; }
    @media (max-width: 1023px) {
      .catalog-sections__main {
        margin: 8px 0 20px;
        display: block; } }
  @media (min-width: 1024px) {
    .catalog-sections .bestsellers__title {
      margin: 90px 0 60px; } }
